/home/laurence/Desktop/sea++/mydas/project/mydas-project.Rproj
.Rproj.user
.Rhistory
.Ruserdata
.RData
**/data
**/cache
**/docs
**/inputs
*.RData
*.csv
*.log
*.aux
*.toc
*.backup
*.gz
*.html
*.odt
*.odt#
*.docx
*.docx#
mydas-project.Rproj
_rslurm_randomD
